html {
    font-family: 'Signika', sans-serif;
}


.title {
    margin-top: 30px; 
    margin-left:40px;
}




.title {
    font-size: 28px; 
    font-weight: bold; 
    text-align: center; 
    padding-top: 20px; 
    padding-bottom: 20px; 
}




.buttons {
    display: inline-block;  
    margin-top: 30px; 
    justify-content: space-around;
}

.button, .button2 {

    text-align: center; 
    padding: 10px;
    background-color: red;
    color: white;
    font-weight: normal;
    border: 2px solid  red;
    border-radius: 20px;
    font-size: 18px; 
    cursor: pointer; 
    margin: 10px;
}

